/*#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
*/

input,
textarea,
select {
  border: 1px solid #000;
  padding: 0.25rlh;
  min-width: 0;
  box-shadow: 0px 1px 2px #0001;
  accent-color: var(--color-cta-newscard-bg-inverted);
}

label {
  font-weight: bold;
}

.error-message {
  color: var(--color-cta-card-bg);
}

button {
  border-radius: 4px;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.25rlh 0.5rlh;
}

/* Form layout */
#form-section,
#form-summary {
  display: grid;
  align-content: start;
  align-self: start;
  gap: 1rlh;
  padding: 1rlh;
  background: var(--color-info-bg);
  border-radius: 0;
}

#form-summary {
  position: sticky;
  top: 1rem;
}

form {
  display: grid;
  gap: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  outline: 2px solid var(--color-cta-card-bg);
  outline-offset: 1px;
}

button:hover {
  background: #222;
}

button:active {
  scale: 0.98;
}

/* States */
.error-message {
  display: none;
}
.form-group:has(:required) {
  legend h3::after,
  label:only-of-type::after {
    margin-inline-start: 0.25ch;
    content: "*";
    color: red;
  }
}
.form-group:has(:user-invalid) {
  input,
  textarea,
  select {
    outline: 3px solid red;
    border-color: var(--color-cta-card-bg);
  }

  .error-message {
    display: block;
  }
}

.form-group:has(:user-valid) {
  input,
  textarea,
  select {
    border-color: oklch(from var(--color-cta-card-bg) 50% c 150);
  }
}
fieldset {
  display: contents;
  /* div {
    display: grid;
    gap: 0.5ch;
    border-radius: 4px;
    margin: 0;
  } */
}

legend {
  padding: 0;
}
select {
  border-radius: 0;
}

.form-group-inline {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content 1fr;
  gap: 1rem;
  align-items: center;
}
